.grid{
	height: 100% !important;
}

.linhaFoto{
	width:100% !important;
	height: 60% !important;
	padding:0px !important;
	margin:0px !important;
}

.colunaFoto{
	padding:0;
	margin:0;
}


.imgFoto{
	max-height:100%;
	height:auto;
	display: block;
	padding:0px !important;
	margin:0px !important;
}

.tipoAnexo{
	max-width: 100% !important;
	border-bottom: 1px solid #CCC !important;
	margin-top:10px;
}

progress{
	height:2rem;
}
